########################################################
# ANTHROPIC
########################################################
export ANTHROPIC_API_KEY=""


########################################################
# PINECONE
########################################################
export PINECONE_API_KEY=""


########################################################
# VOYAGE AI
########################################################
export VOYAGE_API_KEY=""

########################################################
# OPENAI
########################################################
export OPENAI_API_KEY=""
